<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Forkio</title>
</head>
<body>




    <div class="intro-header">
        <div class="container">
    @@include('sections/_header.html')
    @@include('component/_header-preview.html')
        </div>
    </div>
<!--<div class="container box-background-section">-->
    @@include('component/_download.html')
@@include('sections/_revolutionary.html')
<!--</div>-->

<!--<div class="intro-gray-container">-->
<!--<div class="container">-->
    @@include('sections/_section-fork.html')
<!--</div>-->
<!--</div>-->

<!--    <div class="intro-testmonials">-->
<!--        <div class="container">-->
        @@include('sections/_testmonials.html')
        @@include('sections/_price.html')
<!--        </div>-->
<!--    </div>-->



<script src="js/script.min.js"></script>
</body>
</html>