// Button variable
$color-header-btn: #8D81AC;
$color-header-btn-inv: #ffff;

$color-section-main: #463048;
$color-section-btn: rgba(70, 48, 72, .15);
$color-section-text-btn: #FFFFFF;
// Button variable


//Text color menu variable
$color-text-menu: #8D81AC;