<header class="header">
    <nav class="menu">
        <div class="box">
            <a class="link-home" href="#">
            <span class="img-logo"></span>
            <h1 class="logo">ForkIO</h1>
            </a>
        </div>
        <div class="box" id="menuList">
            <ul class="menu-list">
            <li><a class="menu-link" href="#">Overview</a></li>
            <li><a class="menu-link" href="#">About Fork</a></li>
            <li><a class="menu-link" href="#">Buying Options</a></li>
            <li><a class="menu-link" href="#">Support</a></li>
            </ul>
        </div>
        <div class="box">
        <a class="btn-header" href="#">Buy Now</a>

            <div class="burger-menu" id="triggerMenu">
                <div class="burger-menu-line" id="first"></div>
                <div class="burger-menu-line" id="second"></div>
                <div class="burger-menu-line" id="third"></div>
                <div class="burger-menu-line" id="four"></div>
            </div>
        </div>
    </nav>
</header>
