<p class="price-title">Fork Subscription Pricing</p>
<div class="price-group">

<div class="price-card">
    <h4 class="price-card-title">Students</h4>
    <div class="price-card-box">
        <p class="box-price">29</p>
        <span class="box-after">per Month</span>
        <hr class="box-line">
        <span class="box-des">Personal License</span>
        <a href="#" class="box-btn">purchase</a>
    </div>
</div>

<div class="price-card">
    <h4 class="price-card-title">professional</h4>
    <div class="price-card-box">
        <p class="box-price">59</p>
        <span class="box-after">per Month</span>
        <hr class="box-line">
        <span class="box-des">Professional License Email Support</span>
        <a href="#" class="box-btn">purchase</a>
    </div>
</div>
<div class="price-card">
    <h4 class="price-card-title">agency</h4>
    <div class="price-card-box">
        <p class="box-price">99</p>
        <span class="box-after">per Month</span>
        <hr class="box-line">
        <span class="box-des">1-12 Team Members Phone Support</span>
        <a href="#" class="box-btn">purchase</a>
    </div>
</div>
<div class="price-card">
    <h4 class="price-card-title">enterprise</h4>
    <div class="price-card-box">
        <p class="box-price">159</p>
        <span class="box-after">per Month</span>

        <hr class="box-line">
        <span class="box-des">Unlimited Team Members 24/ 7 Phone Support</span>
        <a href="#" class="box-btn">purchase</a>
    </div>
</div>
</div>
</div>
</div>
</div>