<div class="intro-gray-container">
    <div class="container">
<div class="gray">
    <div class="gray-box">

        <h3 class="gray-title-up">Here is what you get</h3>

        <div class="gray-card">
            <div class="gray-card-icon">
                <span class="gray-card-img gray-card-img1"></span>
            </div>
            <div class="gray-card-text">
                <h3 class="gray-card-title">Created to Make The Web Better</h3>
                <p class="gray-card-description">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.  </p>
            </div>
        </div>

        <div class="gray-card ">
            <div class="gray-card-icon">
                <span class="gray-card-img gray-card-img2"></span>
            </div>
            <div class="gray-card-text">
                <h3 class="gray-card-title">Incredibly Powerful Tool</h3>
                <p class="gray-card-description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
        </div>

        <div class="gray-card ">
            <div class="gray-card-icon">
                <span class="gray-card-img gray-card-img3"></span>
            </div>
            <div class="gray-card-text">
                <h3 class="gray-card-title">Experimental Stuff</h3>
                <p class="gray-card-description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
        </div>

        <div class="gray-card ">
            <div class="gray-card-icon">
                <span class="gray-card-img gray-card-img4"></span>
            </div>
            <div class="gray-card-text">
                <h3 class="gray-card-title">Creatred to Make The Web Better</h3>
                <p class="gray-card-description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
        </div>
    </div>

    <div>
        <h3 class="gray-title-down">Here is what you get</h3>
        <div class="gray-editor">
            <img src="img/editor.png" alt="hello fork editor img" class="gray-editor-img">
        </div>
    </div>
</div>
</div>
</div>
