<div class="intro-testmonials">
    <div class="container">
<div class="testmonials-block">
    <h3 class="testmonials-title">People Are Talking About Fork</h3>

    <div class="testmonials-cart-content">
        <div class="cart">
            <span class="testmonials-logo-compani logos1"></span>
            <p class="testmonials-info-compani">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </div>

        <div class="cart">
            <span class="testmonials-logo-compani logos2"></span>
            <p class="testmonials-info-compani">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </div>

        <div class="cart">
            <span class="testmonials-logo-compani logos3"></span>
            <p class="testmonials-info-compani">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </div>

        <div class="cart">
            <span class="testmonials-logo-compani logos4"></span>
            <p class="testmonials-info-compani">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </div>

        <div class="cart">
            <span class="testmonials-logo-compani logos5"></span>
            <p class="testmonials-info-compani">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </div>

        <div class="cart">
            <span class="testmonials-logo-compani logos6"></span>
            <p class="testmonials-info-compani">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </div>
    </div>

    <p class="testmonials-coment">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <hr class="testmonials-coment-line">
</div>
